*.log
spotify_authorization.txt
user_agent.txt
junkfile*
cache_*
*.pyc
skip_to.txt
skip_to_*.txt
no_results.txt
.idea/dictionaries/*
.idea/workspace.xml
.idea/
removed/
spotify_playlist_apple_music.iml
*.bak
